.page_donations table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.page_donations table tr td {
	padding-left: 16px;
	padding-right: 16px;
}

.page_donations table tr td a {
	padding-left: 8px;
	font-size: 13px;
}

.page_donations table tr td.indent {
	padding-left: 32px;
}

.page_donations table tr td:nth-child(n + 2) {
	text-align: right;
	width: 90px;
}

.page_donations table .total td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.page_donations table tr:first-child td {
	border-top: 1px solid black;
}

.donation-buttons a img {
	height: 20px;
	margin-left: 8px;
}

.donation-buttons p {
	display: inline-block;
	vertical-align: sub;
}
