/* Promo banner styles apply to multiple pages */
.banner.promo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 6px;
    padding: 30px;
    text-align: left;
    margin: 0;
    margin-bottom: 60px;
    box-shadow: 0 0 20px 2px #e0e0e0;
}

.banner.promo img {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    vertical-align: middle;
    margin-right: 20px;
}

.banner.promo img.large {
    width: 140px;
    height: 140px;
}

.banner.promo .promo-content {
    display: inline-block;
    vertical-align: middle;
    flex: 1;
}
