.homeservers {
    display: flex;
    text-align: center;
    justify-content: center;
}

.homeserver {
    width: 250px;
    padding: 8px;
    border: 2px solid var(--brand-color-alt);
    border-radius: 3px;
    margin: 0 8px;
}
