.featured-integration a,
.banners .encryption-banner a {
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;

    transition: background-color 0.2s;
}

.featured-integration a:hover,
.banners .encryption-banner a:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-fg-color);
}

.featured-integration a:active,
.banners .encryption-banner a:active {
    color: var(--button-fg-color);
}
