.featured {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.featured-integration {
    border: 3px solid #f5f5f5;
    border-radius: 6px;
    padding: 30px;
    text-align: center;
    flex-grow: 1;
    max-width: 300px;
    margin: 15px;
}

.featured-integration img {
    width: 140px;
    height: 140px;
    display: block;
    margin: auto;
}

.featured-integration span {
    display: block;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.featured-integration .description {
    margin-bottom: 40px;
}

.featured-integration a {
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;

    transition: background-color 0.2s;
}

.featured-integration a:hover {
    background-color: var(--button-bg-hover-color);
}
