.banners {
	width: 100%;
}

.banners .banner {
	padding: 15px;
}

.banners p {
	margin: 0;
	text-align: center;
}

.banners .banner.warning {
	background-color: #ffd26d;
}

.banners .banner.info {
	background-color: #92e0ff;
}

.banners .with-learn-more > p {
	line-height: 40px;
}

.banners .with-learn-more a {
    margin-left: 16px;
}
