.banners {
	width: 100%;
}

.banners .banner {
	padding: 15px;
}

.banners p {
	margin: 0;
	text-align: center;
}

.banners .banner.warning {
	background-color: #ffcb56;
}

.banners .banner.info {
	background-color: #92e0ff;
}

.banners .banner.danger {
	background-color: #ff7d2e;
}

.banners .with-learn-more > p {
	line-height: 40px;
}

.banners .with-learn-more a {
    margin-left: 16px;
}

/*****************************************
 * ISOLATED PAGE OVERRIDES (not .site)
 *****************************************/

.banners:not(.site) p {
	text-align: left;
}

.banners:not(.site) .banner {
	border-width: 1px;
	border-style: solid;
	border-left-width: 8px;
	border-left-style: solid;
	padding-left: 20px;
}

.banners:not(.site) .banner:nth-child(n + 2) {
	margin-top: 12px;
}

.banners:not(.site) .banner.warning {
	background-color: inherit;
	border-color: #ffcb56;
}

.banners:not(.site) .banner.info {
	background-color: inherit;
	border-color: #92e0ff;
}

.banners:not(.site) .banner.danger {
	background-color: inherit;
	border-color: #ff7d2e;
}

.banners:not(.site) .with-learn-more a {
	margin-top: 8px;
    margin-left: 0;
}
