footer {
	padding: 50px;
	text-align: center;
	color: #fff;
	background: linear-gradient(12deg, var(--brand-color), var(--brand-color-alt));
	font-size: 0.9em;
    vertical-align: middle;
}

footer .footer-flex {
    display: flex;
    width: 60%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

footer .footer-column {
    text-align: left;
    flex-grow: 1;
    min-width: 200px;
}

@media only screen and (max-width: 768px) {
    footer .footer-column {
        text-align: center;
    }
}

footer ul {
    list-style: none;
    padding-left: 3px;
}

footer .footer-column h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
}

footer a {
    color: rgb(197, 197, 197);
	text-decoration: none;
}

footer a:hover {
    color: #9abcff;
}

footer img {
	margin-right: 20px;
	margin-left: 20px;
	height: 65px;
    vertical-align: middle;
    margin: auto;
}

.made-for-matrix a {
    display: block;
    text-align: center;
}

footer .copyright {
    color: rgb(145, 145, 145);
}
