main {
    text-align: left;
    width: 100%;
    max-width: 800px;
    margin-top: 15px;
    line-height: 1.8em;
}

main h1:first-child {
    margin-top: 0;
}


video {
    width: 100%;
    max-width: 700px;
    border-radius: 4px;
    border: 1px solid #000;
}
