@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import url("_vars.css");

@import url("_banners.css");
@import url("_footer.css");
@import url("_header.css");
@import url("blog.css");
@import url("page/home.css");
@import url("page/infrastructure.css");
@import url("page/lag-warning.css");
@import url("page/errors.css");
@import url("page/donations.css");
@import url("elements/featured-integration.css");
@import url("elements/featured-room.css");
@import url("elements/financials.css");
@import url("elements/public-keys.css");
@import url("elements/buttons.css");
@import url("elements/tables.css");

html {
	height: 100%;
}

body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	font-family: 'Lato', sans-serif;
	color: #313131;

	display: grid;
	min-height: 100%;
	grid-template-rows: 1fr auto;
}

html, body {
	background-color: #fff;
}

main {
	padding: 1rem;
	width: 75%;
	max-width: 900px;
	min-width: 300px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
    text-align: center;
}

.spacer {
	width: 90%;
    display: block;
	margin: auto;
    margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid #e6e6e6;
}

a {
	color: #00b0ff;
	text-decoration: none;
}

a:hover, a:active {
	color: #007db5;
}
